html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Permet de pousser le footer vers le bas */
}

.container > .main-content {
    flex: 1; /* Prend tout l'espace disponible */
}
body {
    /* Un seul background qui superpose le dégradé noir semi-transparent 
       avant (donc au-dessus) de l'image fixe */
    background: 
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('/public/images/bg3.webp') no-repeat center center fixed;
    
    /* Ajuste la taille du fond en "cover" pour qu'il remplisse toujours l'écran */
    background-size: cover;
    
    /* Empêche le scroll horizontal */
    overflow-x: hidden;
    
    /* Ligne standard, si besoin */
    line-height: inherit;
  }
  body::before {
    content: "";
    position: fixed;  /* Pour coller au viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* noir à 60 % */
    pointer-events: none;            /* laisse les clics passer */
    z-index: 1;                      /* au-dessus du bg, au-dessous du contenu */
  }
  
  body > * {
    position: relative;
    z-index: 2; /* pour que ton contenu soit au-dessus du filtre */
  }
  p {
    font-family: 'Roboto', sans-serif; }

    h3 , h4{
      font-family: 'Cinzel Decorative';  }

    
  @media screen and (max-width: 768px) {
    main{
      padding-top: 45px;
    }
  }
  @media screen and (max-width: 670px) {
    main{
      padding-top: 30px;
    }
  }